<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>         
</head>
<body>
<div class="container">
 <div class="row">
      {{#if messages.error}}
      <div class="card-panel  red darken-4">{{messages.error}}</div>
      {{/if}}

      {{#if messages.success}}
      <div class="card-panel  green lighten-3">{{messages.success}}</div>
      {{/if}}
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" value="{{product.productName}}" name="name" type="text" class="validate">
          <label for="email">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="category" value="{{product.category}}" type="text" class="validate">
          <label for="password">Category</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="price" value="{{product.price}}" type="text" class="validate">
          <label for="password">Price</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="description" value="{{product.description}}" type="text" class="validate">
          <label for="password">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          </button>
        </div>
      </div>
    </form>
  </div>                
</div>
</body>
</html>